* {
    background-color: #1e0931;
    color: #02fda9;
    font-size: 1rem;
}

.button, button,input[type="button"]{
    font-size: 1rem;
}

#clear {
    padding:.1rem;
    height:100%;
}

.button:hover, button:hover,input[type="button"]:hover{
    background-color: rgb(214, 93, 93);
}

#selection{
    margin-bottom: 1rem;
    font-size:1rem;
}

.inline {
    display: flex;
}

.perc25{
    width:25%;
}
.perc75{
    width:75%;
}

 /* table styling */
table, th, td {
    border: 1px solid white;
 }

 tr:hover td   {
    background-color: white;
 }

 /* nav list styling */
 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}

.recur{
    background:red;
}

textarea{
    margin-top: 1rem;
    margin-bottom: 1rem;
    height:5ch;
    width: 90%;
    text-size-adjust: none;
}

.log-item{
    margin-top:0px;
}

#log-container * {
    color: black;
    font-size:1rem;
    text-size-adjust: none;
    border-style:solid;
    border-width:1px;
    padding:5px;
}

#log-container > div.log-item:nth-of-type(even) * {
    background: grey;
}

#log-container > div.log-item:nth-of-type(odd) * {
    background: blue;
}

.tabletext{
    margin-top: 0px;
    margin-bottom: 0px;
    width: 75%;
    background-color:white !important ;
}

.picker{
}

#nav{
    display:none;
}

.control{
    width:7rem;
}
