{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Log a Task{% endblock %}</h1>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}

{% block content %}
  <form method="post">
  {% for task in tasks %}
  <input type="submit" name="submit" class="btn btn-primary btn-lg" 
  value={{ task.name }}>
  {% endfor %}
  </form>
{% endblock %}
