<!doctype html>
<title>{% block title %}{% endblock %} Day Scorer</title>

<div>
  {{session['username']}}
</div>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>Day Scorer</h1>
  <ul>
    {% if session['username'] %}
      <li><span>{{ session['username'] }}</span>
      <li><a href="{{ url_for('logout') }}">Log Out</a>
      <li><a href="{{ url_for('create_log') }}">Create Log</a>
      <li><a href="{{ url_for('show_log') }}">Show Log</a>
      <li><a href="{{ url_for('create_task') }}">Create Task</a>
      <li><a href="{{ url_for('edit_tasks') }}">Edit Tasks</a>
      <li><a href="{{ url_for('create_category') }}">Create Category</a>

        
    {% else %}
      <li><a href="{{ url_for('register') }}">Register</a>
      <li><a href="{{ url_for('login') }}">Log In</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>