{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Log a Task{% endblock %}</h1>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

{% endblock %}

{% block content %}

  <form method="post" id = "logForm">
  {% for task in tasks %}
    {% if task.display %}
  <input type = "button" input id="{{ task.name }}"  class="btn btn-primary btn-lg" onclick="get_selection(this)"
  value="{{ task.name }}", style="background-color:#4156f4">
    {% endif %}
  {% endfor %}
  <input type="text" id="selection" name="selection" value="" placeholder="Make a selection above">
  <input type="range" min="1" max="20" value="1" class="slider" id="myRange">
  <input type="text" name="quantity" id="numIN" placeholder="Roll slider or enter number">
  <input type="text" name="notes" placeholder="Enter Notes Here">
  <input type = "button" class="btn btn-primary btn-lg" onclick="submitForm()"
  value="Submit", style="background-color:#4156f4">
  </form>


<script>
var slider = document.getElementById("myRange");
var output = document.getElementById("numIN");
output.value = slider.value;

slider.oninput = function() {
  output.value = this.value;
}

//Adds a datestamp to form before submitting.
//Needed because always want to use client local time instead of server
function submitForm() {
    console.log('Submitting form using script')
    var element1 = document.createElement("input");
    element1.type = "hidden";
    var dt = new Date()
    element1.value = dt.getTime(); //millisecond timestamp
    element1.name = "timestamp";
    document.getElementById("logForm").appendChild(element1);
    document.getElementById("logForm").submit();
}

function get_selection(btn) {
  var old_select = document.getElementById("selection").value;
  
  document.getElementById("selection").value = btn.id;
  btn.style.background='#000000';
  console.log("Selected task: " + old_select);
  try{
    document.getElementById(old_select).style.background="#4170f4";
  }
  catch(error){
    console.error(error);
  }
  //window.scrollTo(0,document.body.scrollHeight);  //vanilla js (no animate scroll)
  setTimeout(function(){ $('html,body').animate({ scrollTop: 9999 }, 'slow'); }, 250);
  
}
</script>
{% endblock %}

