{% extends 'base.html' %}

{% block header %}
  <h1 class="topple" >
    {% block title %}
    Log a Task {{session['username']}}, Today: {{score}}</h1>
    {% endblock %}
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{% endblock %}

{% block content %}

<div id="templateForm" hidden>
    <label id="tempAttrLabel" for="numIN">Attribute Name</label>
    <input id="tempSlider" type="range" min="1" max="20" value="1" class="slider" >
    <input id="tempNumIn" type="number" name="quantity"  placeholder="Roll slider or enter number">
    <textarea id="tempNotes" type="textarea" name="notes" placeholder="Enter Notes Here"></textarea>
    <input type = "button" id="submitBtn" class="btn btn-primary btn-lg" 
  onclick="submitForm()" value="Submit">
</div>

  <form method="post" id = "logForm">
    <div class='inline'>
        <input type="text" id="selection" name="selection" value="" 
        onkeyup="task_text()" onclick="hideTop()" class="perc75"
        placeholder="Select below or type" autocomplete="off">
        
        <button type="button" id='clear' class="perc25" onclick="clear_sel()">CLEAR</button>
        </div>
  {% for task in tasks %}
    {% if task.display %}
    <input type = "button" id="{{task.name }}"  
    class="inline button {{ '' if task.recurring else 'recur'}}" onclick="get_selection(this)" value="{{ task.name }}">  
    {% endif %}
  {% endfor %}

  
  <div id="variableForm">
     <!-- Place holder for variable form content -->
  </div>
  
  </form>


<script type="text/javascript" src="{{ url_for('static', filename = 'create_log.js') }}"></script>
<script> 
  var test='feh';
  var attr = JSON.parse({{attr|tojson}});
  function editTask(btn){
      window.location = "{{url_for('edit_task')}}/"+(btn.id).toString();  
  }
  
</script>

{% endblock %}

