{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Create New Task{% endblock %}</h1>
{% endblock %}

{% block content %}

{{ version }}
  <form method="post">
    <label for="taskname">Task Name</label>
    <input name="taskname" id="taskname" required>
    <label for="points">Point Value</label>
    <input type="number" name="points" id="points" >
    <label for="recurring">
    <input type="radio" name="recurring" value="recurring">Recurring 
    </label>
    <label for="non-recurring">
    <input type="radio" name="recurring" value="non-recurring">Non-Recurring
    </label>
    {{ categories }}
    <label for="category">Enter Category id</label>
    <input type="number" name="category" id="category" >
    <input type="submit" value="Submit new task">
  </form>
{% endblock %}
