{% extends 'task_base.html' %}
{% block title %}Edit Task{% endblock %}
{% block morescripts %}
<script>
var attrs = JSON.parse({{attr|tojson}});




function initialize_fields() {
  unitQty=1;
for(var attr in attrs){
  if (attrs.hasOwnProperty(attr)) {           
    a=attrs[attr]
    addAttribute(attr,a.min,a.max,a.default,a.scored);
    unitQty *= a.default;
}
}
  points = parseFloat("{{ task.points }}")*unitQty;
  document.getElementById("taskname").value = "{{task.name}}";
  document.getElementById("points").value = points;
  document.getElementById("taskname").value = "{{task.name}}";
  document.getElementById("taskname").value = "{{task.name}}";
  if ( "{{task.recurring}}" === "1"){
    document.getElementById("recurring").checked = true;
  }
  else{
    document.getElementById("nonrecurring").checked = true;
  }
  //Putting the jinja expression in double quotes and parseint to mollify linter
  btn = document.getElementById(parseInt("{{task.category}}"));
  get_selection(btn);
}
window.onload = initialize_fields;
</script>
{% endblock %}