{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit a Task{% endblock %}</h1>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

{% endblock %}
{% block content %}
  
  {% for task in tasks %}
  <input type = "button" input id="{{ task.task_id }}"  class="btn btn-primary btn-lg btn btn-block" onclick="get_selection(this)"
  value="{{ task.name }}", style="background-color:#4156f4">
  {% endfor %}
  <script>
    function get_selection(btn){
      console.log(btn.id);
      window.location = "{{url_for('edit_task')}}/"+(btn.id).toString();
    }
  </script>
{% endblock %}

