{% extends 'task_base.html' %}
{% block title %}Edit Task{% endblock %}
{% block morescripts %}
<script>
function initialize_fields() {
  document.getElementById("taskname").value = "{{task.name}}";
  document.getElementById("points").value = "{{task.points}}";
  document.getElementById("taskname").value = "{{task.name}}";
  document.getElementById("taskname").value = "{{task.name}}";
  if ( "{{task.recurring}}" === "1"){
    document.getElementById("recurring").checked = true;
  }
  else{
    document.getElementById("nonrecurring").checked = true;
  }
  //Putting the jinja expression in double quotes and parseint to mollify linter
  btn = document.getElementById(parseInt("{{task.category}}"));
  get_selection(btn);
}
window.onload = initialize_fields;
</script>
{% endblock %}