{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit Task{% endblock %}</h1>
{% endblock %}

{% block content %}

{{ version }}
  <form method="post">
    <label for="taskname">Task Name</label>
    <input name="taskname" value = "{{task.name}}" id="taskname" required>
    
    <label for="points">Point Value</label>
    <input type="number" name="points" value={{task.points}} id="points" >
    
    <label for="recurring">
    <input type="radio" id="recurring" name="recurring" value="recurring">Recurring 
    </label>
    <label for="non-recurring">
    <input type="radio" id = "nonrecurring" name="recurring" value="non-recurring">Non-Recurring
    </label>
    {{ categories }}
    <label for="category">Enter Category id</label>
    <input type="number" name="category" value = {{task.category}} id="category" >
    <input type="submit" value="Submit changes">
  </form>
<script>
  window.onload = setRadioCheck();
  function setRadioCheck(){
    var recurrence = "{{task.recurring}}"
    if (recurrence === "1"){
      radiobtn = document.getElementById("recurring");
    }
    else{
      radiobtn = document.getElementById("nonrecurring");
    }
    radiobtn.checked = true;
  }
</script>

{% endblock %}
