
<head>
        <!-- Plotly.js -->
         <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
      </head>
      
      <body>
 
        </div>
        <script>
        var attr= {{data|tojson|safe}}
        var dates= {{dates |tojson|safe}}
        Object.keys(attr).forEach(key=>{
          
          var trace1 = {
            x: dates,
            y: attr[key],
        mode: 'markers'
        };
          var data = [ trace1 ];
          var layout = {
           
            yaxis:{
              title: {
              text:key
            }}
          };
          document.body.innerHTML += '<div id="' + key + '" </div> '
          Plotly.newPlot(key, data, layout);
        });


        </script>
      </body>