{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}LOG{% endblock %}</h1>
{% endblock %}

{% block content %}
<div>
<a href="{{ url_for('create_log') }}"><button type="button" >Log a new Record</button></a>
{%if not request.path=="/show_log"%}
<a href="{{ url_for('show_log') }}"><button type="button" >Show full log</button></a>
{% endif %}
<br><br><br>
</div>
<div class="inline">
<input type="text" id="selection"
placeholder="Type to filter" onkeyup="task_text()">
</div>
<br>
<table>
  {% for item in log %}
    <tr id= "{{item[0]}}" class="inline buttons">
      {% for field in item %}
      <td>{{ field }}</td>
      {% endfor %}
    </tr>
  {% endfor %}
</table>
<script type="text/javascript" src="{{ url_for('static', filename = 'show_log.js') }}"></script>
{% endblock %}
