{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}This Months Scores{% endblock %}</h1>
  
{% endblock %}

{% block content %}

<div style="white-space: nowrap">
    <h2>Average for month: {{average}}</h2>
  <a href="{{ url_for('create_log') }}"><button type="button" 
  style="height:50px;width:200px;font-size:20px">Log a new Record</button></a>
  </div>
<table style="width:100%">
  {% for day in month %}
    <tr>
      <td>{{ day[0] }}</td>
      <td>{{ day[1] }}</td>
    </tr>
  {% endfor %}
</table>
{% endblock %}