{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}{% endblock %}</h1>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{% endblock %}

{% block content %}

{{ version }}
  <form method="post" id='taskForm'>
    <label for="taskname">Task Name</label>
    <input name="taskname" id="taskname" required>
    <br>
    <label for="description">Description</label> <br>
    <textarea name="description" id="description" required></textarea>
    <br>
    <label for="recurring">Recurring</label>
    <input type="radio" name="recurring" id="recurring" value="recurring"> 
    <label for="non-recurring">Non-Recurring</label>
    <input type="radio" name="recurring" id="nonrecurring" value="non-recurring">
    <br>
    <label for="display">Display</label>
    <input type="radio" name="display" id="display" value="display"> 
    <label for="hide">Hide</label>
    <input type="radio" name="display" id="hide" value="hide">
    <br>
    <button type="button" id="cat_select" class="btn btn-primary btn-lg"> Select category</button>
    <div id="categories">
    {%for category in categories%}
    <input type = "button" input id="{{ category[0] }}"  class="btn btn-primary btn-lg" onclick="get_selection(this)"
          value="{{ category[1] }}">
    {% endfor %}
    <br>
    <input type="text" id="selection" name="category" value="" placeholder="Make a selection above">
    </div>
    <div>
    <label for attributes> Attributes</label>
    
    <div id="attributes">
    <br>
    </div>
    <button onclick="addAttribute('','','','','')"> Add an Attribute </button>
    <br><br>
    <label for="points" id='pointLabel'>Point Value</label> <br>
    <input type="number" step="0.1" name="points" id="points" >
    <br>
    <input type="submit" value="Submit new task">
    
  </form>

  <script type="text/javascript" src="{{ url_for('static', filename = 'task_base.js') }}"></script>

 {% block morescripts %} {% endblock %}
{% endblock %}

